body {
    background-color: black;
    height: 80vh;
    margin: 0;
}

h2 {
    color: #CFE5F8;
    font-size: 90px;
    width: 100%;
    text-align: center;
    height: 4px;
}

.stopwatch {
    width: 90%;
    max-width: 600px;
    background-color: #164d3f;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    border-radius: 40px;
}

.stopwatch h1 {
    margin-top: 60px;
    font-size: 100px;
    font-weight: 300;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
    cursor: pointer;
}

.buttons img:nth-child(2) {
    width: 80px;
}

.buttons button {
    background-color: #FF5636;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #dc300d;
}

#laps-container {
    margin-top: 20px;
}

.lap-item {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}